################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/ScrollingText/.vs/ScrollingText/v16
*.log
*.tlog
*.recipe
*.pdb
*.idb
*.ilk
*.opendb
*.db-wal
*.db-shm
/DataStructure/.vs/DataStructure/v16/ipch/AutoPCH/7be15483f808c1e6
/DataStructure/Debug
/DataStructure/.vs/DataStructure/v16
/DataStructure/MyForwardList/MyForwardList.vcxproj
/DataStructure/MyForwardList/MyForwardList.vcxproj.filters
/DataStructure/MyForwardList/MyForwardList.vcxproj.user
/DataStructure/DataStructure.sln
/DataStructure/MyForwardList/Debug/main.obj
/SnakeGame/.vs/SnakeGame/v16/ipch/AutoPCH/7c6afdbb32bad94b
/SnakeGame/.vs/SnakeGame/v16
/SnakeGame/SnakeGame/SnakeGame.vcxproj
/SnakeGame/SnakeGame/SnakeGame.vcxproj.filters
/SnakeGame/SnakeGame/SnakeGame.vcxproj.user
/SnakeGame/SnakeGame.sln
